body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(151, 29, 100, 0.356);
    color: rgb(202, 63, 195);
}
